@page
@model RealEstateCourse_TopLearn.Pages.Panel.Favourites.IndexModel
@{
    ViewData["Title"] = "علاقه مندی ها";
}
<div class="row mt-5">
    <partial name="_Panel" />
    @if (Model.Favourites.Any())
    {
        <div class="col-lg-9 col-12">
            <div class="row">
                @foreach (var favourite in Model.Favourites)
                {
                    <div class="col-lg-5 col-md-6 col-12">
                        <a asp-page="/EstateDetails" asp-route-Id="@favourite.Estate.Id">
                            <div class="product-card">
                                <div class="image">
                                    <img src="~/image/Estates/@favourite.Estate.Image" alt="product1">
                                </div>
                                <div class="card-body">
                                    <p class="d-flex justify-content-between">
                                        <span> @favourite.Estate.Title </span>
                                        <span> @favourite.Estate.Metrage متری </span>
                                    </p>
                                    <p class="mt-2 address">
                                        <i class="fas fa-map-marked-alt text-orange"></i>
                                        @favourite.Estate.Address
                                    </p>
                                    <p class="my-2"> مبلغ : @favourite.Estate.Price.ToToman() </p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    }
</div>
