@page
@model RealEstateCourse_TopLearn.Pages.Panel.Admin.Estates.IndexModel
@{
}
<div class="row mt-5">
    <partial name="_Panel" />

    <div class="col-lg-9 col-md-9 col-12">
        <div class="card">
            <div class="card-header d-flex flex-wrap">
                <a asp-page="Create" class="btn btn-primary text-white mr-0">
                    <i class="fas fa-plus"></i>
                    ایجاد ملک جدید
                </a>
                <h4 class="text-center font-weight-bold m-auto"> مدیریت املاک </h4>
            </div>
            <div class="card-body">
                @if (Model.IndexDto.Any())
                {
                    <table class="table table-bordered table-striped table-hover mt-2">
                        <thead>
                            <tr>
                                <th class="text-center"> عکس </th>
                                <th class="text-center"> نام </th>
                                <th class="text-center"> متراژ </th>
                                <th class="text-center"> دسته بندی </th>
                                <th class="text-center">مدیریت</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var estate in Model.IndexDto)
                            {
                                <tr>
                                    <td class="text-center align-middle"><img src="~/image/Estates/@estate.Image" class="img-fluid" width="60" height="60" alt=""></td>
                                    <td class="text-center align-middle">@estate.Title</td>
                                    <td class="text-center align-middle">@estate.Metrage</td>
                                    <td class="text-center align-middle">@estate?.Category?.Title</td>

                                    <td class="text-center">
                                        <div class="btn-group" dir="ltr" role="group" aria-label="Basic example">
                                            <a asp-page="Details" asp-route-Id="@estate.Id" class="btn btn-sm btn-info"><i class="fas fa-list"></i></a>
                                            <a asp-page="Edit" asp-route-Id="@estate.Id" class="btn btn-sm btn-warning"> <i class="fas fa-edit"></i> </a>
                                            <a asp-page="Delete" asp-route-Id="@estate.Id" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h3 class="text-center alert alert-info">ملکی موجود نیست</h3>
                }
            </div>
        </div>
    </div>
</div>